/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  min-height: calc(100vh - 12rem);
  position: relative;
  background: url("/img/bg.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 0 2px #dddddd, 2px 2px #7B7027;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
